.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(233, 243, 252);
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 10px;
}
.card {
  margin-bottom: 15px;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.57rem;
}
